{{ partial "header.html" . }}

<div class="article-meta">
    <h1 class="title">{{ .Title }}</h1>
    {{ with .Params.author }}
    <h2 class="author">{{ . }}</h2>
    {{ end }}
    <br />
    {{ if in .Params.categories "Article" }} {{ with .Params.abstract }}
    <p class="abstract"><strong>Abstract:</strong> {{ . }}</p>
    {{ end }} {{ with .Params.link }}
    <p><a href="{{ . }}" target="_blank">→ Download PDF</a></p>
    {{ end }} {{ end }}
</div>

<main>{{ .Content }}</main>

{{ partial "footer.html" . }}
